#modal-content {
    text-align: center;
}
button{
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
    margin-top: 10px;
}

button:disabled{
    background-color: lightgrey;
    color: darkgrey;
}

button:enabled:hover{
    background-color: orange;
    
}

.demo-button {
    margin-right: 17px;
}