#modal-content {
    text-align: center;
}
button{
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
    margin-top: 10px;
}

button:disabled{
    background-color: lightgrey;
    color: darkgrey;
}

button:enabled:hover{
    background-color: orange;
    
}

.demo-button {
    margin-right: 17px;
}

.demo-button-login > button {
    margin: 0px;
    text-align: center;
    width: 170px;
    height: 40px;
    background-color: #f47521;
    color: black;
    border: none;
    cursor: pointer;
}
.demo-button-login {
    margin-bottom: 20px;
}