.review-buttons-div > div {
    background-color: #f47521;
    height: 40px;
    width: 140px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

.review-buttons-div {
    display: flex;
    flex-direction: row;
}

.reviewsMapDiv {

}

.entireSingleReviewDiv{
    display:inline-flex;
    flex-direction: column;
    padding: 8px;
    /* width: 65%; */
    max-height: 290px;
    margin-left: 10px;
    border-top: solid 3px rgb(136, 136, 136);
    /* border-radius: 8px; */
    margin: 6px;

}

.reviewDescriptionPtag{
    max-height: 144px;
    overflow-y: auto;
}
