.delete-modal-container {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.delete-two-buttons > .buttons-in-modal {
    background-color: #f47521;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}