.image-in-edit > img {
height: 500px;
width: 300px;
}

.createAnimeFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height:max-content */
}

form {
    height: fit-content;
}

.image-in-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.cover-upload {
    margin: 10px;
    padding: 5px;
    color: white;
}

input::file-selector-button {
    background-color: #f47521;
    height: 25px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}
