.linkedinLogo,
.githubLogo {
    width: 15px;
    margin: 5px;
    padding-top:3px;
}
.tech-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.tech-icons {
    width: 30px;
    height: 30px;
  }

.footer-contributors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.footer-container {
    text-align: center;
    background-color: #23252b;
    /* border: 1px solid red; */
    width: 100vw;
    /* margin: 0px; */
    margin-bottom: -6px;
    margin-left: -5px;
    height: 82px;
    bottom: 0;
    position: absolute;
    /* padding: 8px; */
    padding-bottom: 8px;
}
.footerNameBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
