.linkedinLogo,
.githubLogo {
    width: 15px;
    margin: 5px;
    padding-top:3px;
}

.allColumns {
    display: flex;
    justify-content: space-around;
}

.footerColumn3 {
    display: flex;
    flex-direction: column;
}

.danishKevin,
.taylorSteven {
    display: flex;
}
.contributers{
 margin-right: 30px;
}
.footerNameBlock{
    display:flex;
}

/* .allFooterContainer {
    position: relative;
    bottom: 0;
    width: 100%;
} */

.allFooterContainer>h2{
    padding-left:15px;
}
.allColumns{
    padding-left: 15px;
    padding-right: 15px;
}




.firsttwo-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tech-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.tech-icons {
    width: 30px;
    height: 30px;
  }

.footer-contributors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.footer-container {
    text-align: center;
    background-color: #23252b;
    /* border: 1px solid red; */
    width: 100vw;
    /* margin: 0px; */
    margin-bottom: -6px;
    margin-left: -5px;
    height: 82px;
    bottom: 0;
    position: absolute;
    /* padding: 8px; */
    padding-bottom: 8px;
}
.footerNameBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .footerNameBlock > a {
    height: 15px;
} */