.landingPageContainer{
    display:flex;
    flex-direction: column;
}

.landingPageSignUpContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.wholeFormContainer {
    background-color: #141519;
    border-radius: 10px;
    width: 600px;
    height: 700px;
    border:1px white solid;


}

.landingPageLoginContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageLoginContainer > button {
    width: 170px;
    height: 40px;
    background-color: #f47521;
    color: black;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.demo-button > button {
    width: 170px;
    height: 40px;
    background-color: #f47521;
    color: black;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.demo-button {
    text-align: center;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
}

.guest-button {
    text-align: center;
    padding: 25px 0px;
}

.guest-button > button {
    height: 40px;
    background-color: #f47521;
    color: black;
    border: none;
    margin-left: 20px;
}


.imgs-with-form {
    display: flex;
    flex-direction: row;
}

.imgs-with-form > #boondock-right {
    position: relative;
    right: 80px;
    height: 500px;
    top: 100px;
}


.imgs-with-form > #boondock-left {
    position: relative;
    left: 150px;
    height: 500px;
    top: 100px;
    max-width: 40%;
}

.guest-button-a{
    text-decoration: underline;
    color: #f47521;
    cursor:pointer;
}

.landingPageLogo{
    margin-top: 5px;
    width: 40%;
    padding-bottom: 20px;
}
