.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

ul > li > .navlink > img {
  width: 400px;
}

ul > li {
  list-style-type: none;
}
.nav-ul{
  /* background-color: rgb(37, 37, 37); */
  /* background-color: rgb(5, 0, 39); */
  margin: -10px;
  padding: 5px;
}

/* ul {
  display: flex;
  justify-content: space-between;
} */