.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

ul > li > .navlink > img {
  width: 400px;
}

ul > li {
  list-style-type: none;
}
.nav-ul{
  margin:0;
  padding: 0px;
}

/* ul {
  display: flex;
  justify-content: space-between;
} */
