.hidden {
  display: none;
}

ul>li>.navlink>img {
  height: 45px;
}

ul>li {
  list-style-type: none;
}



.nav-ul {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin: 0px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#23252b;
}

.profile-dropdown {

  position: absolute;
  background-color: #141517;
  z-index: 1;
  right: 0px;
  padding: 0px;
  width: 350px;
}

/* button > .profile-button {
  margin-right: 100px;
} */

.button-with-arrow {
  height: 65px;
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 50px; */
  padding: 0 20px;
}

.button-with-arrow:hover {
  background-color: #141517;
  cursor: pointer;
  height: 65px;
  width: 80px;
}

.menu-opened{
  background-color: #141517;
}

.profile-div > img,
.username-img-li > img {
  height: 40px;
  border-radius: 25px;
}

.username-img-li > img {
  margin-right: 10px;
}

.username-img-li {
  /* border-bottom: solid 1px darkgray; */
  display: flex;
  align-items: center;
  font-size: 30px;
  /* padding-bottom: 20px; */
}

.generic-list {
  /* border-bottom: solid 1px darkgray; */
  font-size: 18px;
  /* padding: 20px 0px; */
  color: #d3d3d3;
}

.navlink-list > a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 18px;
  }

.navlink-list {
  /* padding: 20px 0px; */
  /* border-bottom: solid 1px darkgray; */
  color: #d3d3d3;
}
.navlink-list:hover {
  /* padding: 20px 0px; */
  /* border-bottom: solid 1px darkgray; */
  background-color: rgb(92, 92, 92);
  color: white;
}
.navlink-list:hover > a{
  color: white;
}

.text-below-navlink {
  font-size: 14px;
  color: gray
}

.logout-list {
  font-size: 18px;
  color: #d3d3d3;
  /* padding: 20px 0px; */
  cursor: pointer;
}

.logout-list:hover {
  /* font-size: 18px; */
  /* padding: 20px 0px; */
  cursor: pointer;
  background-color: rgb(92, 92, 92);
  color: white;
}

.nonuser-dropdown {
  display: flex;
  justify-content: space-around;
}

.nonuser-dropdown > button {
  background-color: #f47521;
  height: 30px;
  color: black;
  font-size: 20px;
  border: none;
  margin: 10px;
  cursor: pointer;

}

a.navlink{
  margin-left: 50px;
}

.profile-dropdown li{
  padding: 20px;
}
