.favoritesMapDiv{
display:flex;
justify-content: flex-start;
/* margin: 5px 40px; */

}

.favoritesDiv{
    /* border-top: 5px #F47521 solid; */
    margin-top:4px;
    width:100%;
    padding:5px;
    align-self: center;
    max-width: 1306px;
}
.favoritesDiv>h1{
/* margin-left:50px; */
}
.animeTileHomePage{

margin:8px;
}
