.homePageDiv{
display:flex;
flex-direction: column;
}
.tileCoverPhotoHomePage{

   width:100%;
   max-height: 300px;
}

.tileCoverPhotoHomePageDiv > img {
   object-fit: cover;
   height: 300px;
   border-radius: 6px;
}

.allAnimeContainer{
   border-top:5px #F47521 solid;
   margin-top:0px;
   padding-top:0px;
   display:flex;
   flex-wrap:wrap;
   justify-content: center;
   border-bottom:5px #F47521 solid;
   padding:5px;
   max-width: 1296px;
   align-self: center;
}

.animeTileHomePage{
   margin: 20px;
   width: 250px;
   margin-top: 10px;
   position: relative;
   border-radius: 6px;
   align-self: flex-start;


}

.animeTileHomePage .hover-div{
   visibility: hidden;
   text-align: center;
   background-color: #23252b;
   position: absolute;
   /* z-index: 1; */
   text-overflow: ellipsis;
   overflow: hidden;
   bottom: 0;
   height: 310px;
   border-radius: 6px;
   width: 100%;
   overflow-y: auto;
   }

.animeTileHomePage:hover .hover-div{
   visibility: visible;
   opacity: 0.9;
   cursor:pointer;
}


.animeShowName>h2{
margin-top: 14px;
}

.reccomendCaro{
   height:300px;
   object-position: 50% -20%


}
.divofCarro{
   display:flex;
   flex-direction: column;
   justify-content: Center;
   margin: 0 auto;
   max-width: 1296px;
}