.coverphotoTile{
    width: 100px;

    height: 100px;
}

.listOfEpisodesDiv{
    margin-top: 15px;
    border-top:3px #F47521 solid;
    display:flex;
    justify-content: space-evenly;
    border-bottom:3px #F47521 solid;
}


.singleEpisodeDiv{
width:400px
}
.reviewsMapDiv{
display:flex;
flex-direction: column;
}
