.coverphotoTile {
    width: 100px;

    height: 100px;
}

.listOfEpisodesDiv {
    margin-top: 15px;
    display: flex;
    /* justify-content:space-between; */
    /* margin: 0 auto; */
    /* width: 90%; */
    border-bottom: 3px #F47521 solid;
    flex-wrap: wrap;

}
.episode-list-wrapper {
    border-top: 3px #F47521 solid;
    width: 100%;
    /* margin: 0 auto; */
}

.wholeContainer {
    padding: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:1296px;
}

.singleEpisodeDiv {
    width: 280px;
    margin: 15px;
}

.reviewsMapDiv {
    display: flex;
    flex-direction: column;

}


.userNavLink{
    display:inline-block;
    text-decoration:none;
    font-size: 18px;

}
.userNavLink{
    display: inline-block;
    color:white
}
.userNavLink:hover{
    display: inline-block;
    font-size: 20px;
    color:#f47521

}
.navLinkDivforReview{
    width:20%;
}

.remove-favorite-tern>button,
.anime-page-edit-button>button,
.anime-page-episode-post-button>button {
    background-color: #f47521;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.delete-anime-button > div{
    background-color: #f47521;
    height: 30px;
    width: 200px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}


.review-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.desc-and-photo-split {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.desc-photo{
    margin-left: 50px;
}
.desc-photo>img {
    width: 330px;
    height: 330px;
    border: 2px solid #F47521;
    object-fit: fill;
    border-radius: 5px;
}

.desc-container>div {
    margin-bottom: 30px;
}

.the-buttons-in-desc {
    display: flex;
    flex-direction: row;
}

.remove-favorite-tern {
    margin-left: -10px;
}

.reviewsHeaderDetail{
    margin-left:10px;
    font-size: 20px;
}

/* .CreateReviewModal {
    background-color: #f47521;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
} */

.CreateReviewModal > div {
    background-color: #f47521;
    height: 30px;
    width: 170px;
    padding: 10px;
    color: black;
    font-size: 20px;
    border: none;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.delete-episode-button > div{
    background-color: #f47521;
    height: 25px;
    font-weight: 700;
    width: 200px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

/* .episodeCoverImageDiv{
    width:100%;
}
.episodeCoverImage{
   width:100%;
   border-radius: 6px;
   /* object-fit: cover;
} */

.singleEpisodeDiv{
    margin: 20px;
    width: 250px;
    height: 240px;
    margin-top: 10px;
    position: relative;
    border-radius: 6px;
    align-self: flex-start;


 }

 .singleEpisodeDiv .episodePanelHover{
    visibility: hidden;
    /* text-align: center; */
    width: 100%;
    background-color: #23252b;
    position: absolute;
    /* z-index: 1; */
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0px;
    height: 240px;
    padding: 5px;
    border-radius: 6px;
    overflow-y: scroll;
    }

 .singleEpisodeDiv:hover .episodePanelHover{
    visibility: visible;
    /* opacity: 0.9; */
    cursor:pointer;
 }

 .episodeWatchNow {
    height: 240px;
 }

 .episodeCoverImageDiv > img{
    width:100%;
    height: 175px;
    object-fit: cover;
}

.showTitleHover {
    font-size: 12px;
    color: lightgray;
    font-weight: bold;
    margin-bottom: 5px;
}

.episodeTitleHover {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 3px;
}

.episodeDateHover {
    font-size: 12px;
    color: lightgray;
    font-weight: bold;
    margin-bottom: 5px;
}

.episodeDescriptionHover {
    font-size: 16px;
    color: white;
}

/* .episodeTileShow,
.episodeTileTitle {
    text-decoration: none;
} */

.singleEpisodeDiv > a {
    text-decoration: none;
}

.episodeTileShow {
    font-size: 12px;
    color: lightgray;
    font-weight: bold;
    margin-bottom: 10px;
}

.episodeTileTitle {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 3px;
}
