.coverphotoTile {
    width: 100px;

    height: 100px;
}

.listOfEpisodesDiv {
    margin-top: 15px;
    border-top: 3px #F47521 solid;
    display: flex;
    justify-content:center;
    border-bottom: 3px #F47521 solid;
    flex-wrap: wrap;
}

.wholeContainer {
    padding: 20px;
    margin: 0px 100px;
}

.singleEpisodeDiv {
    width: 280px;
    margin: 15px;
}

.reviewsMapDiv {
    display: flex;
    flex-direction: column;

}


.userNavLink{
    display:inline-block;
    text-decoration:none;
    font-size: 18px;

}
.userNavLink{
    display: inline-block;
    color:white
}
.userNavLink:hover{
    display: inline-block;
    font-size: 20px;
    color:#f47521

}
.navLinkDivforReview{
    width:20%;
}
.entireSingleReviewDiv{
    display:inline-flex;
    flex-direction: column;
    padding: 8px;
    width: 65%;
    margin-left: 10px;
    border: solid 3px #f47521;
    border-radius: 8px;
    margin: 6px;

}
.reviewDescriptionPtag{
    width: 100%;
    word-break:break-all;
}

.remove-favorite-tern>button,
.anime-page-edit-button>button,
.anime-page-episode-post-button>button {
    background-color: #f47521;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.delete-anime-button > div{
    background-color: #f47521;
    height: 30px;
    width: 200px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}


.review-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.desc-and-photo-split {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.desc-photo{
    margin-left: 50px;
}
.desc-photo>img {
    width: 330px;
    height: 330px;
    border: 2px solid #F47521;
    object-fit: fill;
    border-radius: 5px;
}

.desc-container>div {
    margin-bottom: 30px;
}

.the-buttons-in-desc {
    display: flex;
    flex-direction: row;
}

.remove-favorite-tern {
    margin-left: -10px;
}

.reviewsHeaderDetail{
    margin-left:10px;
}

/* .CreateReviewModal {
    background-color: #f47521;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
} */

.CreateReviewModal > div {
    background-color: #f47521;
    height: 30px;
    width: 170px;
    color: black;
    font-size: 20px;
    border: none;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.delete-episode-button > div{
    background-color: #f47521;
    height: 30px;
    font-weight: 700;
    width: 200px;
    color: black;
    font-size: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.episodeCoverImageDiv{
    width:100%;
}
.episodeCoverImage{
   width:100%;
   border-radius: 6px;
   object-fit: cover;
}

.episodeDescription{
    font-size:14px;
}
